 
 .formRegistration{
     margin: 0 auto;
     width: 25%;
 }
 .input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
 }
 .inputLabel {
     margin-right: 30px;
 }
 .btnForm{
     margin-top: 15px;
 }
 .formGroup {
     display: flex;
     align-items:center;
     justify-content: space-between;
 }
 .formGroup p{
     margin-top: 20px;
 }
 .todo{
    width: 50%;
    margin: 0 auto;
 }
 .header {
    align-items: flex-end;
  }
  
  .header h1 {
    flex-grow: 1;
  }
  
  .header h2 {
    font-size: 1.2rem;
    color: grey;
  }
 
 
 .todoList .list-group-item{
    padding: .25rem .75rem; 
}


.todo-list-item {
    font-size: 1.25rem;
  }
  
  .todo-list-item button {
    width: 35px;
    margin: 3px;
  }
  
  .todo-list-item-label {
    margin-left: 1.25rem;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
  }
  
  .todo-list-item.done .todo-list-item-label {
    text-decoration: line-through;
  }
  
  .todo-list-item.important .todo-list-item-label {
    font-weight: bold;
    color: steelblue;
  }
.searchPanel {
    margin: 1rem 0;
  }
  
  .searchPanel .searchInput {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }

  .todo-list .list-group-item {
    padding: .25rem .75rem;
  }

  .bottom-panel {
    margin-top: 10px;
  }
  
  .bottom-panel .new-todo-label {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }
  